# Files and directories created by pub
.packages
.pub/
build/
# Remove the following pattern if you wish to check in your lock file
pubspec.lock
.dart_tool
expressions.iml

# Directory created by dartdoc
doc/api/

# IntelliJ related
*.iml
*.ipr
*.iws
.idea/
